<!-- Footer component will be injected to the main application page to display on all pages that are rendered by the website. -->

<!-- Footer should include: Contact information, google map location, donations, prayer request and church schedule -->

<!-- Footer needs to be responsive to website and mobile devices as well as proper spacing on all elements in the footer -->

<!-- Design footer as a standard footer, animation should be included in footer, when user scrolls down the footer will "pop up" and display all information -->





<!-- Footer Start -->

<!-- Main Footer Container -->
<mat-grid-list cols="4" rowHeight="4:1" id="mainFooterGridList" fxLayout="row" fxLayoutGroup="20px" fxLayoutAlign="left left">
    <!-- Tile Container for content -->
        <mat-grid-tile id="mainSocialMediaTags" fxLayout="row" fxLayoutAlign="left left">
            <div class="container" id="imageContainer" fxLayout="row">
                    <div class="facebook">
                        <span aria-colspan="1" class="facebookSpan">
                            <img class="tile-image" src="../../assets/SocialMediaIcons/ccc-facebook.png" alt="facebook" />
                        </span>
                    </div>

                    <div class="instagram">
                        <span aria-colspan="1" class="instagramSpan">
                            <img src="../../assets/SocialMediaIcons/ccc-instagram.png" alt="instagram" />
                        </span>
                    </div>

                    <div class="twitter">
                        <span aria-colspan="1">
                            <img src="../../assets/SocialMediaIcons/ccc-twitter.png" alt="twitter"  />
                        </span>
                    </div>
                
                    <div class="youtube">
                        <span aria-colspan="1">
                            <img src="../../assets/SocialMediaIcons/ccc-youtube.png" alt="youtube" />
                        </span>
                    </div>

                    <div class="tiktok"> 
                        <span aria-colspan="1">
                            <img src="../../assets/SocialMediaIcons/ccc-tiktok.png" alt="tiktok">
                        </span>
                    </div>
            
            </div>
        
        </mat-grid-tile>
    <!-- End Tile Container for content -->
</mat-grid-list>
<!-- Footer End -->
