<!-- Footer component will be injected to the main application page to display on all pages that are rendered by the website. -->

<!-- Footer should include: Contact information, google map location, donations, prayer request and church schedule -->

<!-- Footer needs to be responsive to website and mobile devices as well as proper spacing on all elements in the footer -->

<!-- Design footer as a standard footer, animation should be included in footer, when user scrolls down the footer will "pop up" and display all information -->





<!-- Footer Start -->

<!-- Main Footer Container -->
<mat-grid-list cols="2" rowHeight="2:1">
    
    <!-- Tile Container for content -->
        <mat-grid-tile id="tile1Content">
            <!-- tile 1 [ contains contact information and social media links ] -->
            <div class="container">
                <h3>Connect With Us!</h3>
                <div class="container" id="socialMediaConnections">
                    
                </div>
            </div>
            <!-- End Tile 1 -->
        </mat-grid-tile>
    <!-- End Tile Container for content -->
</mat-grid-list>
<!-- Footer End -->
