<!-- Footer component will be injected to the main application page to display on all pages that are rendered by the website. -->

<!-- Footer should include: Contact information, google map location, donations, prayer request and church schedule -->

<!-- Footer needs to be responsive to website and mobile devices as well as proper spacing on all elements in the footer -->

<!-- Design footer as a standard footer, animation should be included in footer, when user scrolls down the footer will "pop up" and display all information -->





<!-- Footer Start -->

<!-- Main Footer Container -->
<mat-grid-list cols="3" rowHeight="1:1" id="mainFooterGridList">
    <!-- Tile Container for content -->
        <mat-grid-tile id="tile1Content1">
            <h3 id="ConnectHeading">Connect with Us!</h3>
            <div class="container" id="imageContainer">
                <span aria-colspan="1">
                    <img class="tile-image" src="../../assets/SocialMediaIcons/ccc-facebook.png" alt="facebook" />
                </span>
                <span aria-colspan="1">
                    <img src="../../assets/SocialMediaIcons/ccc-instagram.png" alt="instagram" />
                </span>
                <span aria-colspan="1">
                    <img src="../../assets/SocialMediaIcons/ccc-twitter.png" alt="twitter"  />
                </span>
                <span aria-colspan="1">
                    <img src="../../assets/SocialMediaIcons/ccc-youtube.png" alt="youtube" />
                </span>
                <span aria-colspan="1">
                    <img src="../../assets/SocialMediaIcons/ccc-tiktok.png" alt="tiktok">
                </span>
            </div>
        </mat-grid-tile>
    <!-- End Tile Container for content -->
</mat-grid-list>
<!-- Footer End -->
