
/* #ConnectHeading {
     text-align: center; 
    color: white;
    font-family:'Edu QLD Beginner', cursive;
    font-size: xx-large;
    display: block !important;
    padding-right: 35px; 
} */


.container div * {
    padding-right: 15px;
}

#imageContainer:hover .facebook {
    text-decoration: none;
    border-bottom: 1px solid rebeccapurple;
    transition: 400ms;
    cursor: pointer;
}

#imageContainer:hover .instagram {
    text-decoration: none;
    border-bottom: 1px solid rebeccapurple;
    transition: 400ms;
    cursor: pointer;
}


#mainServices {
    color: cyan;

}


.alighnText {
    justify-content: center;
    text-align: center;
}


.prayerRequestForm {
    justify-content: center;

}

.serviceInformation {
    justify-content: center;
    text-align: center;
}

.mat-list-base {
    text-align: center;
}

.inputInformation {
    background-color: white;
}

.labelTesting {
    color: white;
    font-size: xx-large;
}

.userInput {
    color: black;
    font-size: xx-large;
}

.submitTitle {
    color: white;
    font-size: xx-large;
}
