
/* #ConnectHeading {
     text-align: center; 
    color: white;
    font-family:'Edu QLD Beginner', cursive;
    font-size: xx-large;
    display: block !important;
    padding-right: 35px; 
} */

h2 {
    color: rgb(83, 104, 120);
    font-size: 30px;
}

h3 {
    color: rgb(65, 74, 76); 
    font-size: 25px;
}

#mainFooterGridList {
    background-color: whitesmoke;
}
.container div * {
    font-family: 'Bebas Neue';
    font-weight: bold;
    padding-right: 15px;
}

#imageContainer:hover .facebook {
    text-decoration: none;
    border-bottom: 1px solid rebeccapurple;
    transition: 400ms;
    cursor: pointer;
}

#imageContainer:hover .instagram {
    font-family: 'Bebas Neue';
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rebeccapurple;
    transition: 400ms;
    cursor: pointer;
}


#mainServices {
    font-family: 'Bebas Neue';
    font-weight: bold;
    color: grey;

}


.alighnText {
    justify-content: center;
    text-align: center;
}


.prayerRequestForm {
    justify-content: center;

}

.serviceInformation {
    justify-content: center;
    text-align: center;
}

.mat-list-base {
    text-align: center;
}

.inputInformation {
    background-color: white;
}

.labelTesting {
    color: white;
    font-size: xx-large;
}

.userInput {
    color: black;
    font-size: xx-large;
}

.submitTitle {
    color: white;
    font-size: xx-large;
}
