p {
    color: white;
}

#mainContainer_soupWagon {
    padding-top: 1.5rem;
}


.container {
    justify-content: center;
    /* position: fixed; */
}

#mainVideoLandingPage_soupWagon {
    padding-top: 2rem;
    justify-content: center;
    background-color: whitesmoke;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 10%;
    left: 50%;
}

h1 {
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(83, 104, 120);
    padding-top: 25px;
}

#information_Soup_Wagon {
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(83, 104, 120);
    padding: 2rem;
}

#donation_Soup_Wagon {
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(83, 104, 120);
    padding: 2rem;
}

#mainSecondaryContentContainer {
    padding: 2.5rem;
}