<!-- Soup Wagon Content -->

<div id="MainVideoContainer_soupWagon" class="container">
    <div id="housingVideoContainer_soupWagon" class="container">
            <div id="videoContainer_soupWagon" class="container">
                    <mat-grid-list id="mainContainer_soupWagon" cols="2" rowHeight="1:1">
                            <mat-grid-tile colspan="2">
                                <iframe width="1500" height="800" src="https://www.youtube.com/embed/AZqH4W0zhR8" title="Soup Wagon Relief" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </mat-grid-tile>
                    </mat-grid-list>
            </div>
    </div>
</div>

<!-- Content Divider -->
<div id="matDividerContainer" class="container">
        <div id="interiorDivider" class="container">
            <mat-divider class="container"></mat-divider>
        </div>
    </div>
<!-- End Divider -->


<!-- Secondary Content Soup Wagon -->

<!-- Soup Wagon Header -->
<div id="header-content" fxLayout="row" fxLayoutAlign="center center" class="container">
        <div id="headerContainer" class="cotainer">
                <div id="header" class="container">
                        <h1 class="container" fxLayoutAlign="center center">
                                Soup Wagon Relief 
                        </h1>
                </div>
        </div>
</div>

 
<!-- End Soup Wagon Header -->
<div id="mainSecondaryContentContainer" class="container" >
        <div id="soupWagonInformationContainer" class="container">
                <div id="main_Secondary_Content" class="container">
                      <mat-grid-list cols="2" rowHeight="2:1" id="mainGridListContainer" class="container">
                                <mat-grid-tile id="mainGirdContentList" class="container">
                                        <div id="soupWagonInformation" class="container" fxLayoutAlign="center center" fxLayout="row">
                                                <p id="information_Soup_Wagon">
                                                Soup Wagon Relief is  a mission to love on and aid our neighbors in need and /or the homeless  community in our city and the surrounding cities.  Every Tuesday we provide hot homemade meals in Akron and  minister to our neighbors in need. We also have an open pantry every Tuesday from 2-5pm. Every Thursday the Soup Wagon deliveries meal boxes to families in our community. And   finally, we have an out reach every Sunday 
                                                afternoon in the Barberton area. We continue to serve, taking the necessary precautions, through this pandemic because we  love our neighbors and we know the need is  great.   
                                                </p>
                                        </div>
                                </mat-grid-tile>

                                <mat-grid-tile id="donation" class="container">
                                        <div id="maindonationcontainer" class="container" fxLayoutAlign="center center" fxLayout="row">
                                                <p id="donation_Soup_Wagon">
                                                        If you would like to donate to this ministry you may do so through the link on the right. Your donation will go entirely and directly to supplying home cooked meals, socks and chapstick for our neighbors in need. 
                                                </p>
                                        </div>
                                </mat-grid-tile>
                      </mat-grid-list>
                </div>
        </div>
</div>

<!-- End Secondary Content -->



<!-- End Soup Wagon Content -->