#love{
    justify-content: center;
    height: 40%;
    width: 40%;
}


/* #mainImage {
    justify-content: center;
    height: fit-content;
    width: fit-content;
} */

#introduction{
    justify-content: right;
    /* text-align: center; */
    padding-top: 1.2em;
}

#loving{
    justify-content: left;
    text-align: justify;
    color: lightgray;
}

#mainVideoLandingPage {
    padding: 1.5rem;
    padding-left: 225px;
    justify-content: center;
    width: 75%;
    height: auto;
}

