
/* 
#mainImage {
    justify-content: center;
    height: fit-content;
    width: fit-content;
}  */



.container {
    justify-content: center;
    /* position: fixed; */
}

#mainVideoLandingPage {
    /* padding-left: 250px; */
    padding-top: 2rem;
    justify-content: center;
    background-color: black;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 10%;
    left: 50%;
    /* position: relative; */

    /* position: absolute; */
    /* min-height: 100%;  */
    
    /* max-width: min-content;
    max-height: min-content;
    top: 50%;
    transform: scale(0.5) translate(-100%, -100%);
    z-index: 0; */
}

