
#grid_list_one {
    background-color: whitesmoke;

}

#main_intro {
    color:grey;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: large;
    text-align: center;
    justify-content: center;
    background-color: grey;
}

#main_tile {
    background-color: black;
    text-decoration: grey;
    color:grey;
}

#div_one {
    background-color: whitesmoke;
}

h1{
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(83, 104, 120);
}
h2 {
    color: black;
}

h3 {
    color: black;
}

h4 {
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(65, 74, 76);
}

#blockHeading {
    font-size: 50px;
}

#divider_color {
    color: black;
    background-color: black;
    
}

#titleHeadings {
    color: grey;
}
/* 
.mat-divider {
    background-color: black;
} */

