
#grid_list_one {
    background-color: black;

}

#main_intro {
    color:white;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: large;
    text-align: center;
    justify-content: center;
    background-color: black;
}

#main_tile {
    background-color: black;
    text-decoration: white;
}

#div_one {
    background-color: black;
}

