
<!-- Grid list for content -->


<!-- <mat-grid-list id="gird_list_one" cols="2" rowHeight="1:1" fxLayoutAlign="center center" fxLayout="row">
    <div id="div_one" data-aos="fade-left" id="div_one" data-aos-duration="3000">
                <mat-grid-tile  id="main_tile">
                    <div id="guided_by_grace_content" fxLayout="row" fxLayoutAlign="center center">
                        <h2 id="main_intro">Guided by Grace</h2>
                    </div>
                </mat-grid-tile>
                
    </div>
</mat-grid-list> -->


<!-- <mat-grid-list cols="2" rowHeight="1:1" fxLayout="row" fxLayoutAlign="center center">
        <div class="contentContainer">
           <mat-grid-tile class="containr_content">
                <div class="tileContent">
                    <h1 class="guided_by_grace">
                        Guided By Grace
                    </h1>
                    <h3>We openly praise the living God!</h3>
                    <mat-list>
                        <mat-list-item>Pslams 100</mat-list-item>
                        <mat-list-item>Hebrews 13:5</mat-list-item>
                    </mat-list>
                    <mat-divider fsLayoutAlight="center center" vertical style="height:100px"></mat-divider>

                </div>
           </mat-grid-tile>
        </div>

        <mat-grid-tile class="containr_content">
            <div class="tileContent">
                <h1 class="loving_others">
                    Loving Others:
                </h1>
                <h3>We connect with others to Pray, Help and Grow as a community in Christ.</h3>
                <mat-list>
                    <mat-list-item>Hohn 13:34-35</mat-list-item>
                    <mat-list-item>Matthew 5:16</mat-list-item>
                </mat-list>
                <mat-divider fsLayoutAlight="center center" vertical style="height:100px"></mat-divider>

            </div>
       </mat-grid-tile>
    </mat-grid-list> -->

   <!-- // dynamicaly add card information based of ID that is supplied by 
   // the TS file.
   // create this card information to be populated on the screen.
   // align cards correctly on the screen.
   // each card should increment by 1 until there is no more. -->
    <mat-card role="group" tabindex="0" *ngFor="let tile of tileHeadings" fxLayout="row" fxLayoutAlign="center center">
        <div class="container" id="contentCardTitle">
            <mat-card-title>
                <h1>{{ tile.text }}</h1>
            </mat-card-title>
        </div>
      
    </mat-card>
    <div class="container" id="contentText" *ngFor="let sub of secondaryHeadings; let i = index">
        <div class="container" id="contentTextInformation">
            <mat-card-content >
                <P>{{ sub.text + i}}</P>
            </mat-card-content>
        </div>
    </div>

<!-- End Grid List Content -->

<!-- /////////////////////////////////////////// -->