

<div id="churchMainTitle" class="container">
    <div id="churchLogoHousing" class="container">
        <div id="mainHousingContainerLogo" class="container">
            <h1 data-aos="fade-down" data-aos-duration="3000"  id="headingTitle">Charity Christian Church</h1>
        </div>
    </div>
</div>




<div id="MainNavContainer" class="container">
    <div id="mainHousingNavContainer" class="container">
        <div id="navContainer" class="container">
            <app-navigation></app-navigation>
        </div>
    </div>
</div>


<div id="main_router_outlet_container" class="container">
    <div id="into_container_router" class="container">
        <div id="confirmedRoutingContainer" class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<mat-divider id="mainFooterDivider" [inset]="true"></mat-divider>

<div id="footerContainer" class="container">
    <div id="introContainer" class="container">
        <div id="mainFooterContainer" class="container">
            <app-footer></app-footer>
        </div>
    </div>
</div>
  

<!-- 
    https://www.youtube.com/channel/UCtoMl4B0VIOk6Iob-RD7lHg
 -->

