html, body {
    font-family: 'Bebas Neue';
    font-weight: bold;
    min-zoom: 25%;
}

#headingTitle {

        text-align: left;
        color: white;
        font-size: 60px;
        padding-bottom: 1rem;
        font-family: 'Bebas Neue';
        font-weight: bold;

    
}

/* #mainHeading {
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
} */

#mainFooterDivider {
    color:aqua;
    width: 100%;
    margin-left: inherit;
}