 .navbar {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
    background-color: whitesmoke;
    text-decoration: none;
}

.mat-list-item-content {
    color:azure;
}

#mainNav {
    text-align: right;
    justify-content: right;
    font-size: xx-large; 
    color:azure;
    text-decoration: none;
}

a {
    color: lightsteelblue;
    appearance: none;
}

.flexSpaceBetween {
    justify-content: space-between;
    flex: 1 1 auto;
  }

span:hover {
    text-decoration: none;
    border-bottom: 1px solid rebeccapurple;
    transition: 400ms;
    cursor: pointer;

}



