 .navbar {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
    background-color: whitesmoke;
    text-decoration: none;
}

.mat-list-item-content {
    color:azure;
}

#mainNav {
    text-align: right;
    justify-content: right;
    font-size: xx-large; 
    color:azure;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}

.flexSpaceBetween {
    justify-content: space-between;
    flex: 1 1 auto;
  }



