
<mat-toolbar data-aos="fade-right" data-aos-duration="2500" class="navbar">
   <mat-toolbar-row id="mainNav">
    <a mat-list-item routerLink="/" routerLinkActive="active" class="flexSpaceBetween">Home</a>
    <a mat-list-item routerLink="/soupwagon" routerLinkActive="active" class="flexSpaceBetween">Soup Wagon</a>
    <a mat-list-item routerLink="/hopeproject" class="flexSpaceBetween" routerLinkActive="active">Hope Project</a>
    <a mat-list-item routerLink="/contact" routerLinkActive="active" class="flexSpaceBetween">Request Prayer</a>
   </mat-toolbar-row>
   
</mat-toolbar>
