 .navbar {
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
    justify-content: center;
}


#mainNav {
    text-align: left;
    justify-content: right;
    font-size: xx-large; 
}

 span{
    padding-right: 1rem;
    color: white;
    
    
      
      
} 

#headingTitle {
    text-align: center;
    color: white;
    font-size: 60px;
    padding-bottom: 1rem;
    font-family: 'Edu QLD Beginner', cursive;  
}



