

 .mat-typography{
    background-color: black;
}  


 html, body {
    height: 100%;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding: 2rem;
    background-color: black;
}  


 
