

 .mat-typography{
    background-color: black;
}  


 html, body {
    height: 100%;
    margin: 0; 
    font-family: 'Bebas Neue', cursive;
    padding: 2rem;
    background-color: whitesmoke;
}  


 
